.faq a {
    color: #f2f2f2;
    text-decoration: underline;
    transition: 0.1s;
}

.faq a:hover {
    color: rgb(192, 10, 138);
    cursor: pointer;
}

.collapse-question::before {
    content: "▷";
    padding-right: 10px;
}

.active::before {
    content: "▽";
    padding-right: 10px;
}

.collapse-question {
    color: #f2f2f2;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    width: 100%;
    text-align: left;
    border: none;
    background-color: #24242488;
    cursor: pointer;
    text-shadow: 2px 2px 20px #C00A89, 2px 2px 20px rgba(223, 12, 159, 0.69), 2px 2px 20px rgba(251, 14, 179, 0.69), 2px 2px 20px rgba(251, 14, 179, 0.69);
}

.content {
    color: #f2f2f2;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #24242488;
    width: 100%;
    text-align: left;
    border-bottom: 3px solid #00000088;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content p {
    padding: 0 15px 15px 2.5rem
}

.top-q {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.bottom-q {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bottom-c {
    border-bottom: none !important;
}

.active-bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.active-bottom-content {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.email {
    display: flex;
    align-items: center;
}

.email-text {
    color: #f2f2f2;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
}

.email-button {
    color: #f2f2f2;
    padding: 10px 45px 10px 45px;
    border-radius: 25px;
    border: rgba(192, 10, 137, 0.493);
    background-color: rgba(192, 10, 137, 0.493);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    transition: 0.3s;
}

.email-button:hover {
    border: rgba(255, 60, 197, 0.493);
    background-color: rgba(255, 60, 197, 0.493);
    cursor: pointer;
}

.email p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    align-items: center;
    padding-left: 40px;
}

@media screen and (max-width: 500px) {
    .collapse-question::before {
        padding-right: 8px;
    }
    
    .active::before {
        padding-right: 8px;
    }
    
    .collapse-question {
        font-size: 0.9rem;
        font-weight: 900;
        padding: 10px;
        text-shadow: 2px 2px 10px #C00A89, 2px 2px 10px rgba(223, 12, 159, 0.69), 2px 2px 10px rgba(251, 14, 179, 0.69), 2px 2px 10px rgba(251, 14, 179, 0.69);
    }
    
    .content {
        font-size: 0.9rem;
    }

    .content p {
        padding: 0 11px 11px 1.9rem
    }

    .email-text {
        font-size: 0.9rem;
        padding: 11px;
    }
    
    .email-button {
        padding: 8px 25px 8px 25px;
        font-size: 0.89rem;
    }
    
    .email p {
        font-size: 0.91rem;
        padding-left: 20px;
    }
}