.outfit-div-active {
    padding: 30px;
    text-align:center;
}

.outfit-image-active {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: auto;
    box-shadow: 0 0 25px rgba(192, 10, 137, 0.493);
    border-radius: 25px;
}

.vehicle-div-active {
    padding: 30px;
    text-align:center;
}

.vehicle-image-active {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    box-shadow: 0 0 25px rgba(192, 10, 137, 0.493);
    border-radius: 25px;
}

.image-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .outfit-div-active {
        padding: 15px;
    }
    
    .outfit-image-active {
        width: 270px;
        height: auto;
    }

    .vehicle-div-active {
        padding: 15px;
    }
    
    .vehicle-image-active {
        width: 95%;
        height: auto;
    }
    
    .image-text {
        font-size: 1rem;
        padding: 8px;
    }
}