* {
    margin:0;
    padding:0;
}

body {
    background-color:#2e2e2e;
    font-family:arial;
}

textarea {
    width:500px;
    height:200px;
    outline-color: rgb(227, 255, 148);
    resize:none;
    padding:2px;
    display: block;
    border: 2px solid rgb(63, 63, 63);
    background-color:#202020;
    font-size:16px;
    margin-top:10px;
    color:#fff;
    border-radius: 0px;
}
.textarea {
    justify-content:center;
    display:flex;
}

h1 {
    color:#fff;
    text-align: center;
    margin-top:12px;
    cursor:default;
}
h4 {
    color:rgb(227, 255, 148);
    text-align: center;
    margin-top:3px;
    cursor:default;
}

.tuto {
    text-align:center;
    margin-top:25px;
}
h2 {
    color:#fff;
}
mark {
    color:rgb(227, 255, 148);
    background-color:#2e2e2e;
    text-decoration:underline;
    cursor:pointer;
}
mark:hover {
    color:rgb(241, 255, 204)
}

.bottom {
    text-align:center;
    margin-top:5px;
}
.bottom button {
    width:150px;
    background-color:rgb(227, 255, 148);
    border:none;
    height:30px;
    font-weight:700;
    cursor:pointer;
}
.bottom button:hover {
    background-color:rgb(241, 255, 204);
}

#help1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width:900px;
    height:auto;
    background-color:#202020;
    box-shadow: 0 0 9px rgba(0,0,0,0.6);
}
h5 {
    color:#fff;
    padding:11px;
}
.code {
    font-family: monospace;
    margin:5px;
    background: #141414;
    color:rgb(119, 119, 119);
    font-size:14px;
    padding:3px;
}
#help1 .button {
    text-align: center;
}
#help1 .button button {
    width:200px;
    height:43px;
    font-size:16px;
    padding:4px;
    background-color:rgb(227, 255, 148);
    border:none;
    cursor: pointer;
    margin-top:15px;
    font-weight:700;
    margin-bottom:15px;
}
#help1 .button button:hover {
    background-color:rgb(241, 255, 204);
}