* {
    margin:0;
    padding:0;
}
body {
    font-family:arial;
    color:rgb(209, 209, 209);
    background:rgb(58, 58, 58)
}

.header {
    width:100%;
}
.header-1 {
    overflow:hidden;
    background:#27244d;
}
.header1-img {
    margin:17px 20px;
}
.header-2 {
    height:100px;
    background:#33386b;
    text-align: center;
}
.header-2 img {
    margin-top:8px;
}

.language-btn {
    font-size:18px;
    padding:10px 20px 10px 20px; /*top r btm l*/
    background:#4a3191;
    border-radius:20px;
    border:0px solid#fff;
    color:rgb(209, 209, 209);
    transition:0.2s;
    margin:15px 20px 15px;
    float:right;
}
.language-btn:hover {
    background: #6046a7;
}
.language-img {
    margin-right:5px;
}