* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; @TEST*/
}



/* ---------- scrollbar styles ---------- */
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: rgb(42, 42, 42);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(98, 98, 98, 0.577);
}



/* ---------- overall page layout ---------- */
body {
    background: #121212;
    /* background: linear-gradient(0deg, #2f2f2f 0%, rgba(18,18,18,1) 4%); */
    color: #d6d6d6;
    font-family: Verdana, sans-serif;
}
.page-content div {
    color: #d6d6d6;
}
.page-content {
    display: grid;
    grid-template-columns: 1fr 4.2fr 1.2fr;
}
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 58px;
    background-color: #202020;
    border-bottom: 1.7px solid #636363;
    z-index: 1;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.left {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    height: calc(100vh - 62.5px);
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 1.7px solid #636363;
}
.middle {
    padding: 15px 15px 25px 15px;
}



/* ---------- main nav bar top (header) ---------- */
.nav-right {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: right;
    margin-right: 25px;
    gap: 5%;
}
.nav-right a {
    text-decoration: none;
    color: #d6d6d6;
    transition: 0.2s;
    padding: 8px;
    border-radius: 7px;
}
.nav-right a:hover {
    background-color: #424242;
    cursor: pointer;
}
.nav-left {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    text-decoration: none;
}
.nav-left img {
    height: 38px;
    max-width: 38px;
    width: 38px;
    max-width: 38px;
}
.nav-left p {
    padding: 15px;
    color: #d6d6d6;
    font-weight: bold;
}
.nav-left-a {
    text-decoration: none;
    width: max-content;
}



/* ---------- nav bar left side ---------- */
.nav-box {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    cursor: default;
    padding: 7px;
}
.nav-box:not(:last-child) {
    border-bottom: 2px solid #636363;
}
.nav-visual {
    display: grid;
    grid-template-columns: 1.5em auto;
}
.nav-box p {
    color: #d6d6d6;
    font-size: 1.1rem;
    /* padding-left: 10px; */
}
.nav-box svg {
    fill: #d6d6d6;
    height: 20px;
    width: 20px;
    max-width: 20px;
    transition: 0.07s;
}
.nav-box:hover:not(.active) {
    background-color: #202020;
}
.active svg {
    transform: rotate(90deg);
}
.active p {
    color: rgb(109, 100, 244);
}
.hide-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.hide-content a {
    display: block;
    margin: 5px 0px 0px 10px; /* top, right, bottom, left */
    text-decoration: none;
    font-size: 0.95rem;
    color: #d6d6d6;
}
.hide-content a:hover {
    color: #9f9f9f;
}
.hide-content .current {
    background-color: #282828;
    padding: 3px 3px;
    display: inline-block;
    border-radius: 3px;
}
.hide-content hr {
    margin-top: 5px;
    margin-bottom: 2px;
    background-color: #d6d6d6;
    border: 0px solid #fff;
    height: 2.6px;
}
.hide-content hr:hover {
    background-color: #d6d6d6;
    cursor: default;
}



/* ---------- tags ---------- */
.tag {
    color: #d6d6d6 !important;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 3px;
    padding: 2px 4px;
    text-transform: uppercase;
    display:inline-block;
}
.tag:hover {
    cursor: default;
}
.tag-green {background-color: #115917;}
.tag-yellow {background-color:#a36d16;}
.tag-red {background-color: #ac2b2b;}
.tag-blue {background-color: #3931ce;}



/* ---------- page doc content ---------- */
h1 {
    font-size: 2.3rem;
    border-bottom: 4px solid #636363;
    display: inline;
}
h2 {
    font-size: 1.7rem;
    border-bottom: 3px solid #636363;
    display: inline;
}
h2:target::before { /*@FIX: doesnt work on firefox*/
    content: "";
    display: block;
    height: 70px;
    margin: -70px 0 0;
}
h3 {
    font-size: 1.2rem;
    display: block;
    margin-top: 20px;
}
.page-text-link:hover {
    cursor: pointer;
}
.page-text-link:hover::after {
    content: " #";
    color: rgb(109, 100, 244);
    cursor: pointer;
}
.list-group {
    margin-top: 20px;
}
.list-group p {
    font-weight: bold;
}
ul li {
    margin-left: 5%;
    padding: 4px;
}
.page-table {
    width: auto;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
    border: 2px solid #636363;
}
th, td {
    padding: 6px 20px 6px 6px;
    border: 1px solid #636363;
}
.page-table th {
    background-color: #272727;
    text-align: center;
}
.page-table tr:nth-child(odd) {
    background-color: #191919;
}
.caption {
    margin-top: 7px;
    padding: 4px 0px 4px 17px;
    border-left: 5px solid #515151;
    color: #5c5c5c;
}
.break {
    height: 2.4em;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #636363;
    margin: 2em 0;
}
.paragraph {
    padding-top: 20px;
    line-height: 1.4;
}
.paragraph a {
    color: #d6d6d6;
    text-decoration: underline;
    cursor: pointer;
}
.paragraph a:hover {
    color: rgb(109, 100, 244);
}
.paragraph a::after {
    content: "⇗";
    font-weight: bold;
}
.note {
    padding-top: 8px;
    font-size: 0.8em;
    color:#5c5c5c;
}



/* ---------- info boxes ---------- */
.info {
    padding:10px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 20px;
}
.i-red {
    background-color: #f38686ba;
    border-left: 10px solid #f95353ba;
}
.i-purple {
    background-color: #d780f4ba;
    border-left: 10px solid #cf30e7ba;
}
.i-green {
    background-color: #2ac0aaba;
    border-left: 10px solid #0b817dba;
}
.info-head {
    font-weight: bold;
    padding-bottom: 12px;
    text-transform:uppercase;
    font-size: 1.2rem;
}
.info p {
    color: #1d1d1d;
}
.info .bg-highlight {
    background-color: #101010c3 !important;
    border: 0px solid #fff !important;
}



/* ---------- code view ---------- */
.source-code {
    background-color: #202020;
    border-radius: 14px;
    margin-top: 20px;
}
.output-included {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.code-top {
    display: grid;
    grid-template-columns: 80% 20%;
    border-bottom: 2.1px solid #636363;
}
.code-left {
    padding: 10px
}
.code-left a {
    color: rgb(109, 100, 244);
    text-decoration: none;
    text-align: left;
}
.code-left a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.code-right {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}
.code-function {
    display: inline-flex;
    align-items: center;
}
.code-function:hover {
    color: #828282;
    fill: #828282;
    cursor: pointer; 
}
.code-function:hover p {
    color: #828282;
    cursor: pointer;  
}
.code-function:hover.not-active p {
    color: #d6d6d6;
    cursor:text;
}
.code-function:hover svg {
    fill:#828282;
    cursor: pointer;
}
.code-right .code-copy {
    cursor: pointer;
    padding: 10px 0px 10px 5px;
}
.code-right svg {
    fill: #d6d6d6;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}
.code-view {
    display: grid;
    grid-template-columns: 5em 1fr;
}
.code-view .code-index {
    border-right: 2.1px solid #636363;
    text-align: right;
    padding: 8px 10px 8px 0px;
    font-size: 1rem;
    color:rgb(123, 123, 123);
    font-family: monospace;
    counter-reset: line-counter;
}
.code-index p::after {
    counter-increment: line-counter;
    content: counter(line-counter);
}
.code-view .code-display {
    padding: 8px 10px;
    font-family: monospace;
    font-size: 1rem;
    white-space:nowrap;
    overflow-x: auto;
    color: #c5c5c5;
}
.output {
    background-color: #202020;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    display:grid;
    border-top: 2.1px solid #636363;
}
.output-header p {
    font-weight: bold;
    padding: 10px;
}
.output-body {
    padding: 2px 10px 8px 10px;
    font-family: monospace;
    font-size: 1rem;
    color: #c5c5c5;
    white-space:nowrap;
    overflow-x: auto;
}
.output-body p::before {
    content: "> ";
    padding-right: 1em;
    color:rgb(123, 123, 123)
}



/* ---------- color codes ---------- */
.gray {color: #9B9B9B;}
.orange {color: #D69D85}
.light-orange {color: #E6C9BB}
.blue {color: #3b81d6}
.light-blue {color: #9CDCFE}
.purple {color: #9C8CDC}
.light-green {color: #B5CEA8}
.green {color: #0d9c20}
.cyan {color: #3bc792}
.yellow {color: #DCDCAA}
.dark-yellow {color: #f8c162}



/* ----------- image ---------- */
.image {
    width: 100%;
    text-align: left;
    border: 2px solid #636363;
    margin-top: 20px;
}
.small {
    max-width: 50%;
}
.medium {
    max-width: 75%;
}
.large {
    max-width: 100%;
}



/* ---------- nav right styles ---------- */
.right {
    position: sticky;
    top: 92.5px;
    height:max-content;
    max-height: 70vh;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 5px;
    border-left: 1.7px solid #636363;
    padding: 20px 12px;
}
.right .right-head {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 14px;
}
.right .right-head:hover {
    color: rgb(109, 100, 244);
    cursor: pointer;
}
.right a {
    text-decoration: none;
}
.right .right-link {
    padding: 5px 0px 5px 20px;
    color: #d6d6d6;
}
.right .right-link:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* --------- footer ---------- */
.footer {
    border-top: 1.7px solid #636363;
    background-color: #202020;
    text-align: center;
    padding: 2rem 0px;
}
.footer .a-button {
    padding: 10px 30px;
    text-decoration: none;
    color: #d6d6d6;
    background-color: #202020;
    border-radius: 25px;
    border: 2px solid #636363;
    transition: 0.2s;
}
.footer-button {
    margin-bottom: 26px;
}
.footer .a-button:hover {
    background-color: #303030;
}
.footer .a-link {
    color: #d6d6d6;
    text-decoration: underline;
}
.footer .a-link:hover {
    cursor: pointer;
    color: rgb(109, 100, 244);
}



/* ---------- modal ---------- */
.modal {
    display: none;
    background-color: #000000c3;
    z-index: 1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
}
.modal-content {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #202020;
    color:#d6d6d6;
    padding: 20px;
    border: 1px solid #636363;
    border-radius: 16px;
    width: 30%;
    -webkit-animation-name: openModal;
    -webkit-animation-duration: 0.2s;
    animation-name: openModal;
    animation-duration: 0.2s
}
@-webkit-keyframes openModal {
    from {opacity:0} 
    to {opacity:1}
}
@keyframes openModal {
    from {opacity:0}
    to {opacity:1}
}
.modal-header {
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 1.2rem;
}
.modal-header svg {
    fill: #d6d6d6;
    height: 20px;
    width: 20px;
    max-height: 20px;
    max-width: 20px;
}
.modal-header svg:hover {
    fill: #838383;
}
.modal-header .svg-right {
    text-align: right;
}
.language-selection {
    margin: 1rem 0px;
}
.language-selection p {
    padding: 12px 18px;
    background-color: #121212;
    margin: 5px;
    border-radius: 12px;
    transition: 0.2s;
}
.language-selection a {
    color: #d6d6d6;
    text-decoration: none;
}
.language-selection p:hover {
    background-color: #313131;
    cursor: default;
}
.modal-line {
    height: 1.7px;
    background-color: #636363;
    margin: 1rem 0px;
}
.modal .modal-link {
    color: #d6d6d6;
    text-decoration: underline;
    cursor: pointer;
}
.modal .modal-link:hover {
    color: rgb(109, 100, 244);
    text-decoration: underline;
}



/* ---------- text code ---------- */
.bg-highlight {
    background-color: #090909;
    padding: 0px 3px;
    border: 1.2px solid #767676;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1rem;
    color: #d6d6d6;
}
.key-preview {
    background-color: #0d0d24;
    padding: 2px 6px;
    border: 1.2px solid #4a4a4a;
    border-radius: 3px;
    font-weight: bold;
    color:#c1c1c1;
    font-size: 1rem;
    font-family: monospace;
}



/* ---------- page control styles ---------- */
.article-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.a-btn {
    text-decoration: none;
    color: #d6d6d6;
    padding: 7px 20px;
    margin-top: 4em;
    background-color: rgb(94, 84, 226);
    width: max-content;
    border-radius: 8px;
    font-size: 1em;
    width: 50%;
    text-align: center;
    transition: 0.2s;
}
.a-btn:hover {
    background-color: rgb(61, 52, 188);
    transform: scale(1.03);
}
.after {
    justify-self: end;
}
.article-control a:only-child {
    grid-column: 2 / 3;
}